@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@600&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Expletus Sans", cursive;
}

p {
  font-family: "Montserrat", sans-serif;
}

// Button Styles
.btn {
  background: #000;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border: none;
}

// Navigation

.nav-bar {
  .nav-links {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out all;
  }
  .show-links {
    height: 20em;
    background: blue;
  }
  background: red;
  .nav-center {
    .nav-header {
      height: 5rem;
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
    .links {
      display: flex;
      .contact-link {
        //
      }
    }
  }
}

.error-page {
  display: flex;
  justify-content: center;
  margin: 3rem;
  section {
    h1 {
      font-size: 9em;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}

.about-page-section {
  background-color: red;
  display: grid;
  gap: 2rem 4rem;
  .about-img {
    height: 500px;
  }
}

.contact-page-section {
  background-color: red;
  display: grid;
  gap: 2rem 4rem;
}

.footer-bar {
  display: flex;
  justify-content: center;
  span {
    margin: 0 0.5em;
  }
}

@media only screen and (min-width: 600px) {
  .nav-bar {
    .nav-links {
      height: auto;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }
    .show-links {
      height: 20em;
      background: blue;
    }
    background: red;
    .nav-center {
      display: flex;
      align-items: center;
      .nav-header {
        height: 5rem;
        .nav-btn {
          display: none;
        }
      }
      .links {
        .contact-link {
          //
        }
      }
    }
  }

  .about-page-section {
    background-color: green;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 400px;
    .about-img {
      height: 100%;
    }
  }

  .contact-page-section {
    background-color: green;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 400px;
  }
}
